/*font-family: 'Paytone One', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/*font-family: 'Overpass', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --black-100: #1a1a1a;
  --white-100: #ffffff;
  --grey-100: #e6e6e6;
  --grey-50: #808080;
  --transparent: #00000000;
}

body,
html {
  background-color: var(--grey-100);
}

h1 {
  font-family: Paytone One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-family: Paytone One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: Paytone One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: Overpass;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-default {
  color: var(--grey-50);
  align-items: start;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--black-100);
  justify-content: center;
  padding: 20px 60px 20px 21px;
  font: 400 14px Overpass, sans-serif;
  background-color: var(--transparent);
}

.input-default:active,
.input-default:focus {
  background: var(--white-100);
  color: var(--black-100);
}

.input-default:disabled {
  background: var(--transparent);
  border: 1px solid var(--grey-50);
}

.button-default {
  color: var(--black-100);
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid var(--black-100);
  background-color: var(--white-100);
  justify-content: center;
  padding: 16px 34px;
  font: 400 24px Paytone One, sans-serif;
}

.button-default:hover {
  border-color: var(--grey-50);
}

.button-default:active {
  border-color: var(--transparent);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin-left-auto {
  margin-left: auto;
}

img {
  width: 100%;
}
