/*font-family: 'Paytone One', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/*font-family: 'Overpass', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --black-100: #1a1a1a;
  --white-100: #ffffff;
  --grey-100: #e6e6e6;
  --grey-50: #808080;
  --transparent: #00000000;
}

.input-default {
  color: var(--grey-50);
  align-items: start;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--black-100);
  justify-content: center;
  padding: 20px 60px 20px 21px;
  font: 400 14px Overpass, sans-serif;
  background-color: var(--transparent);
}

.input-default:active,
.input-default:focus {
  background: var(--white-100);
  color: var(--black-100);
}

.input-default:disabled {
  background: var(--transparent);
  border: 1px solid var(--grey-50);
}

.button-default {
  color: var(--black-100);
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid var(--black-100);
  background-color: var(--white-100);
  justify-content: center;
  padding: 16px 34px;
  font: 400 24px Paytone One, sans-serif;
}

.button-default:hover {
  border-color: var(--grey-50);
}

.button-default:active {
  border-color: var(--transparent);
}

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

img {
  width: 100%;
}
